{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./src",
          "expose": "~"
        }
      ]
    ]
  ],
  "ignore": [
    "node_modules/diff/lib/**/*.js",
    "node_modules/diff/node_modules/**/*.js"
  ]
}
